* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 700px;
  width: 700px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 10px 8px 10px grey;
}

.row {
  flex-grow: 1;
  display: flex;
}

.col {
  flex-grow: 1;
  border: 1px solid black;
}

button {
  display: block;
  margin: 0px auto 10px auto;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 3px 3px 3px grey;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bolder;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  font-size: 50px;
}
