* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  min-height: 100vh;
  min-width: 100vw;
}

#container {
  height: 500px;
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 10px 8px 10px grey;
}
.btn-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 10%;
}
.row {
  flex-grow: 1;
  display: flex;
}

.col {
  flex-grow: 1;
  border: 1px solid black;
}

button {
  display: inline-block;
  /* display: block; */
  margin: 0px auto 10px auto;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 3px 3px 3px grey;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: bolder;
  cursor:pointer;
  transition:0.2s;
}

button:hover{
  background-color:white;
  color:red;
}

h1 {
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  font-size: 50px;
}

.color_picker{
  width:30px;
  background-color:black;
  cursor:pointer;
  margin-left:10px;
  box-shadow: 3px 3px 3px grey;
  border:none;
  outline:none;
  border-radius:30px;
  transition:0.3s;
  transform:translateY(5px);
}

.color_picker:hover{
  transform: translateY(-2px);
}

.color_picker::-webkit-color-swatch{
  display:none;
}
